@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/app.js">

</script>

<button onclick="findNameOfTallestMountain()">Da Mountain</button>
<br />
<br />

<button onclick="calcAverageProductPrice()">Da My Product Average Price</button>
<br />
<br />

<button onclick="calcInventoryValue()">Da Genaric Product Total Price</button>
<br />
<br />
